body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    /*needed?*/
    /*display: flex;
    flex-direction: column;*/
}

button,
.header-logo,
.text {
    color: #f9faf8;
}

.header,
.footer {
    background-color: #1f2937;
}

.header {
    /*new; needed?*/
    /*display: flex;
    flex-direction: column;*/
    padding: 10px 100px 70px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-logo {
    font-size: 24px;
    font-weight: 500;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.header-links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
.sub-text {
    font-size: 18px;
    color: #E5E7EB
}

.button-1,
.button-2 {
    font-family: Roboto, sans-serif;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 7px 25px;
}

.button-1 {
    border: none;
}

.button-2 {
    border: 2px solid #f9faf8;
}

button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px white;
    transition: 0.7s;
}

.header-body {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.text{
    margin-bottom: 10px;
}

img {
    max-width: 410px;
    max-height: 300px;
}


.info-header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    margin-top: 30px;
}

.box{
    width: 100px;
    height: 100px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.boxes {
    display: flex;
    gap: 52px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}


.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 80px;
    margin-top: 80px;
}

.end-quote {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;

    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.action {
    background-color: #3882F6;
    padding: 40px 40px;

    display: flex;
    justify-content: space-around;
    margin: 100px;
    border-radius: 8px;
}

.action-header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.action-subtext {
    color: #E5E7EB
}

.action-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.action-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.footer {
    color: #E5E7EB;
    padding: 30px 100px;
    text-align: center;
}








